@import "tailwindcss";

@plugin "@tailwindcss/typography";

@layer base {
  html {
    font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Noto Sans', Meiryo, sans-serif;
  }

  a {
    @apply text-blue-600 hover:text-blue-800;
  }
}

@theme {
  --color-rice-cake: #faf9f5;
}
